body {
    display: flex;
    font-family: "Josefin-Sans";
    
    /*    font-weight: 300, 400, 600;*/
    font-size: 16px;

    .Home {
        background-image: url("./assets/bg-pattern-desktop.svg");
        background-size: 100% 100%;
    
        width: 300px;
        padding: 323px 210px;
        float: left;

        .Logo {
            width: 250px;
            position: relative;
        }
    }

    .Image {
        position: absolute;
        right: 0;
        width: 610px;
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center; 

    a {
        color: hsl(228, 45%, 44%); 
    }
}