.attribution { 
font-size: 11px; 
text-align: center; 
}

.attribution a { 
color: hsl(228, 45%, 44%); 
}
body{
    display: flex;
}

.Text{
    background-image: url(assets/bg-pattern-desktop.svg);
}

.imagem{
    position: absolute;
    right: 0;
    width: 610px;
}

.logo{
    position: absolute;
    height: 60px;
    float: left;
}